<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>   


    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chord One
                        </button>
                        <div class="dropdown-menu chord1Menu"></div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chord Two
                        </button>
                        <div class="dropdown-menu chord2Menu"></div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    History
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <!-- chord 1 diagrams -->
                    <h2 id="chord1Label"></h2>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <h2 id="chord2Label"></h2>
                    <!-- chord 2 diagrams -->
                </div>
            
                <div class="col-lg-4 col-md-6">
                    
                    <div class="row">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <!-- <label for="floatingTextarea"></label> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        // chord1menu interaction 
        $('.dropdown-item').on('click',  function(){
            console.log($(this).text())
            var btnObj = $(this).parent().siblings('button');
            $(btnObj).text($(this).text());
            $(btnObj).val($(this).text());
        });

        // chord1menu array
        chord1MenuItems = ["Major", "C", "Db", "D", "Eb", "E", "F", "Gb", "G", "Ab", "A", "Bb", "B", "Minor", "Cm", "Dbm", "Dm", "Ebm", "Em", "Fm", "Gbm", "Gm", "Abm", "Am", "Bbm", "Bm"]
        // populate the chord1 menu (this is useful also for when we want to add indicators next to chords which have scribbles)
        $('ul.dropdown-menu').on('click', function(event){
            event.stopPropagation();
        });
        function updateChord1Menu(){
            var $dropdown = $(".dropdown-menu.chord1Menu");
            
            for(i=0; i<chord1MenuItems.length;i++){
                var menuItemNo = $dropdown.find("li").length;
                var menuItemId = "menuitem" + menuItemNo;    
                if(chord1MenuItems[i] === "Major" || chord1MenuItems[i] === "Minor"){
                    // create a separator between major and minor keys        
                    $dropdown.append(`<li>${chord1MenuItems[i]}</li>`);
                }else{
                    $dropdown.append("<li><a href='#'><label for='chord1_" + chord1MenuItems[i] + "'>" + chord1MenuItems[i] +"</label></a></li>");
                }
            }
        }
        updateChord1Menu()
    
        
    </script>
</html>